:root {
  --purple-6: #152129;
  --purple-5: #10063A;
  --purple-4: #24136C;
  --purple-3: #5D40DD;
  --purple-2: #8974E7;
  --purple-1: #D3CBF6;
  --gray-1: #F4F7FA;
  --gray-2: #CFDBE6;
  --white: #FFFFFF;
  --green: #48C857;
  --blue-1: #263D4C;
}

.white {
  color: #FFFFFF
}

.azure {
  color: #8974E7
}

.blue {
  color: #24136C
}

.bg, .blue-bg {
  background-color: #24136C;
  color: #FFFFFF
}

.fw-400 {
  font-weight: 400
}

.fw-500 {
  font-weight: 500
}

.fw-700 {
  font-weight: 700
}

.fs-48 {
  font-size: 38px;
  line-height: 1.2em
}

@media only screen and (min-width: 768px) {
  .fs-48 {
    font-size: 48px
  }
}

.fs-40 {
  font-size: 24px
}

@media only screen and (min-width: 576px) {
  .fs-40 {
    font-size: 28px
  }
}

@media only screen and (min-width: 768px) {
  .fs-40 {
    font-size: 32px
  }
}

@media only screen and (min-width: 992px) {
  .fs-40 {
    font-size: 36px
  }
}

@media only screen and (min-width: 1200px) {
  .fs-40 {
    font-size: 40px
  }
}

.fs-32 {
  font-size: 24px;
  line-height: 1.4em
}

@media only screen and (min-width: 768px) {
  .fs-32 {
    font-size: 32px
  }
}

.fs-24 {
  font-size: 16px;
  line-height: 1.4em
}

@media only screen and (min-width: 576px) {
  .fs-24 {
    font-size: 18px
  }
}

@media only screen and (min-width: 768px) {
  .fs-24 {
    font-size: 20px
  }
}

@media only screen and (min-width: 992px) {
  .fs-24 {
    font-size: 22px
  }
}

@media only screen and (min-width: 1200px) {
  .fs-24 {
    font-size: 24px
  }
}

.fs-20 {
  font-size: 18px
}

@media only screen and (min-width: 768px) {
  .fs-20 {
    font-size: 20px
  }
}

.fs-16 {
  font-size: 16px
}

.fs-12 {
  font-size: 11px
}

@media only screen and (min-width: 576px) {
  .fs-12 {
    font-size: 12px
  }
}

@media only screen and (min-width: 768px) {
  .fs-12 {
    font-size: 12px
  }
}

@font-face {
  font-family: 'Wotfard';
  src: local("☺"), url("../fonts/wotfard-regular.woff2") format("woff2"), url("../fonts/wotfard-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Wotfard';
  src: local("☺"), url("../fonts/wotfard-medium.woff2") format("woff2"), url("../fonts/wotfard-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Wotfard';
  src: local("☺"), url("../fonts/wotfard-bold.woff2") format("woff2"), url("../fonts/wotfard-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

*, *:before, *:after {
  box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden] {
  display: none
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
  font-family: sans-serif
}

body {
  margin: 0
}

a:focus {
  outline: thin dotted
}

a:hover, a:active {
  outline: 0
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0
}

h3 {
  font-size: 1.17em;
  margin: 1em 0
}

h4 {
  font-size: 1em;
  margin: 1.33em 0
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b, strong {
  font-weight: bold
}

blockquote {
  margin: 1em 40px
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

p, pre {
  margin: 1em 0
}

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

q {
  quotes: none
}

q:before, q:after {
  content: '';
  content: none
}

small {
  font-size: 75%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

dl, menu, ol, ul {
  margin: 1em 0
}

dd {
  margin: 0 0 0 40px
}

menu, ol, ul {
  padding: 0 0 0 40px
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 0
}

form {
  margin: 0
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle
}

button, input {
  line-height: normal
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible
}

button[disabled], input[disabled] {
  cursor: default
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto;
  vertical-align: top
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: padding-box
}

@-moz-document url-prefix() {
  body {
    font-weight: lighter !important
  }
}

h1, h2, h3, h4, h5, h6, p, li, a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing:subpixel-antialiased
}

body {
  font-family: "Wotfard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  letter-spacing: normal;
  height: auto;
  color: #152129;
  background-color: #FFFFFF
}

::selection {
  background: #24136C;
  color: #FFFFFF
}

::-moz-selection {
  background: #24136C;
  color: #FFFFFF
}

div, section, img {
  position: relative
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Wotfard", sans-serif;
  color: #152129;
  line-height: 1em;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0
}

p {
  font-family: "Wotfard", sans-serif;
  color: #152129;
  line-height: 1.4em;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0
}

img {
  max-width: 100%;
}

strong, b {
  font-weight: 700
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: opacity 1s ease, color 1s ease;
  -moz-transition: opacity 1s ease, color 1s ease;
  -ms-transition: opacity 1s ease, color 1s ease;
  -o-transition: opacity 1s ease, color 1s ease;
  transition: opacity 1s ease, color 1s ease
}

a:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.8
}

a:active, a:focus {
  color: inherit;
  text-decoration: none
}

input:not([type=radio]):not([type="checkbox"]):not(.btn):not(.tailwind-input), textarea, select {
  position: relative;
  display: block;
  font-family: "Wotfard", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  font-weight: 400;
  text-transform: none;
  color: #152129;
  width: 100%;
  height: 56px;
  line-height: 52px;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid #CFDBE6;
  border-radius: 8px;
  box-shadow: 0;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
  -webkit-appearance: none;
  resize: none;
  margin: 0;
  padding: 0 16px;
  text-rendering: optimizeLegibility
}

input[type="submit"]:not(.tailwind-input) {
  margin: 0 !important;
  text-align: center !important;
  padding: 0 !important
}

input[type="checkbox"]:not(.tailwind-input) {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: 1px solid #CFDBE6;
  outline-color: transparent;
  outline-style: none;
  padding: 0;
  margin: 0;
  margin-right: 15px
}

input[type="checkbox"]:checked {
  background-color: #8974E7 !important
}

textarea {
  min-height: 142px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.8em !important
}

select {
  color: #152129;
  width: 100%;
  background: #fff url("../images/icon-select-arrow.svg") no-repeat scroll 98% 50%
}

select, select:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

button:focus {
  outline: 0
}

:invalid {
  box-shadow: none
}

:-moz-submit-invalid {
  box-shadow: none
}

:-moz-ui-invalid {
  box-shadow: none
}

input:required {
  box-shadow: none
}

input:invalid:not(.tailwind-input) {
  box-shadow: 0 0 0px transparent
}

input:focus, textearea:focus, select:focus {
  outline-color: transparent;
  outline-style: none
}

::-webkit-input-placeholder {
  color: #CFDBE6;
  opacity: 1 !important
}

:-moz-placeholder {
  color: #CFDBE6;
  opacity: 1 !important
}

::-moz-placeholder {
  color: #CFDBE6;
  opacity: 1 !important
}

:-ms-input-placeholder {
  color: #CFDBE6;
  opacity: 1 !important
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
  -webkit-text-fill-color: #152129;
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  transition: background-color 500000000000000000s ease-in-out 0s
}

.container-fluid {
  padding: 0 20px
}

@media only screen and (min-width: 576px) {
  .container-fluid {
    padding: 0 30px
  }
}

@media only screen and (min-width: 992px) {
  .container-fluid {
    padding: 0 40px
  }
}

@media only screen and (min-width: 1200px) {
  .container-fluid {
    padding: 0 80px
  }
}

.container-990 {
  max-width: 1110px;
  width: -webkit-calc((100% - 40px));
  width: -moz-calc((100% - 40px));
  width: -o-calc((100% - 40px));
  width: calc((100% - 40px));
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 576px) {
  .container-990 {
    width: -webkit-calc((100% - 60px));
    width: -moz-calc((100% - 60px));
    width: -o-calc((100% - 60px));
    width: calc((100% - 60px));
  }
}

@media only screen and (min-width: 992px) {
  container-990 {
    width: -webkit-calc((100% - 80px));
    width: -moz-calc((100% - 80px));
    width: -o-calc((100% - 80px));
    width: calc((100% - 80px));
  }
}

@media only screen and (min-width: 1200px) {
  container-990 {
    width: -webkit-calc((100% - 160px));
    width: -moz-calc((100% - 160px));
    width: -o-calc((100% - 160px));
    width: calc((100% - 160px));
  }
}

.container-990 {
  max-width: 990px
}

@media only screen and (min-width: 768px) {
  .hide-md {
    display: none !important
  }
}

.btn {
  display: inline-block;
  position: relative;
  height: 56px;
  line-height: 56px;
  width: auto;
  min-width: 257px;
  max-width: 100%;
  background: #24136C;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  padding: 0 20px;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-family: "Wotfard", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF !important;
  text-transform: uppercase
}

.btn:hover {
  opacity: 1;
  background-color: #5D40DD;
}

.btn.btn-light-blue {
  background-color: #5D40DD;
}

.btn.btn-light-blue:hover:enabled {
  background-color: #24136C
}

.btn.btn-azure {
  background-color: #8974E7;
}

.btn.btn-azure:hover:enabled {
  background-color: #5D40DD;
}

.btn.post-ad-cta {
  height: 54px;
  line-height: 54px;
  text-align: center;
  min-width: 257px;
  width: 100%
}

@media only screen and (min-width: 768px) {
  .btn.post-ad-cta {
    padding-right: 40px;
    text-align: right;
    width: auto
  }
}

.btn.post-ad-cta:hover:after {
  -webkit-transform: translateZ(0) scale(1.2, 1.2);
  -moz-transform: translateZ(0) scale(1.2, 1.2);
  -ms-transform: translateZ(0) scale(1.2, 1.2);
  -o-transform: translateZ(0) scale(1.2, 1.2);
  transform: translateZ(0) scale(1.2, 1.2)
}

.btn.post-ad-cta.short {
  width: 42px
}

.btn.post-ad-cta.short:after {
  left: 9px
}

.btn.post-ad-cta.short span {
  display: none
}

picture {
  display: block;
  position: relative
}

picture img.picture-img, img.picture-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  font-family: "object-fit: cover; object-position: center center"
}

.premium-tag {
  font-size: 10px;
  background: var(--purple-3);
  padding: 5px 8px;
  border-radius: 4px;
  color: white;
}

.premium-tag.active {
  background-color: var(--green);
}

input:not([type=radio]):not([type="checkbox"]):not(.btn):not(.tailwind-input), textarea, select {
  background-color: #fff;
}

.position-unset{
  position: unset!important;
}

.container-desktop {
  max-width: 1110px;
  width: -webkit-calc((100% - 40px));
  width: -moz-calc((100% - 40px));
  width: calc((100% - 40px));
  margin-left: auto;
  margin-right: auto
}

@media (max-width: 767px) {
  .container-desktop {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.breadcrumbs li span {
  display: none;
}

.breadcrumbs li img {
  vertical-align: middle;
}

.rounded-btn {
  color: white;
  padding: 15px 30px;
  background: var(--purple-3);
  border-radius: 24px;
  display: inline-block;
  line-height: 24px;
}

@media (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}

